.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

  .startLayout {
    width: 100%;
    padding: 0 .48rem;
    .breathe {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      overflow: hidden;
      border: 1px solid #2b92d4;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
      margin: 4rem auto 2rem;
      box-shadow: 0 .2rem 1rem rgba(255, 255, 255, 0.3);
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-name: breathe;
      -webkit-animation-duration: 1500ms;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;

      .image {
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    .selectTitle {
      margin-bottom: .4rem;
      color: rgba(255, 255, 255, 0.5);
    }

    .selectLine {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: .4rem;
      .btn {
        margin-right: .8rem;
        width: 1.5rem;
        height: .72rem;
        border-radius: .48rem;
        border: none;
        outline: none;
        font-size: .36rem;
        &.selected {
          background-color: #eb564b;
        }

        &:active {
          opacity: 0.7;
        }
      }
    }

    .btnLine {
      text-align: center;

      .btn {
        width: 4rem;
        height: .96rem;
        border-radius: .48rem;
        background-color: #2b92d4;
        border: none;
        outline: none;
        font-size: .36rem;

        &:active {
          opacity: 0.7;
        }
      }
    }
  }

  .brandLayout {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .videoLayout {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes breathe {
  0% {
    opacity: .4;
    box-shadow: 0 .1rem .5rem rgba(255, 255, 255, 0.3);
  }

  100% {
    opacity: 1;
    border: .02rem solid rgb(92, 204, 224);
    box-shadow: 0 .2rem 1.4rem rgba(255, 255, 255, 0.3);
  }
}
